<!DOCTYPE html>
<html>
  <head>
      <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
      <div id="app-container"></div>
  </body>
</html>
